{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WineOpener</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'WineOpener/css/style.css' %}"> <!--変更-->
<script src="{% static 'WineOpener/js/openclose.js' %}"></script> <!--変更-->
<script src="{% static 'WineOpener/js/fixmenu_pagetop.js' %}"></script> <!--変更-->
<script src="{% static 'WineOpener/js/vivus.js' %}"></script> <!--変更-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> <!--変更-->
<script src="{% static 'WineOpener/js/ajax.js' %}"></script> <!--追加(2021/09/10)-->
<script src="{% static 'WineOpener/js/onload.js' %}"></script> <!--追加(2021/09/10)-->
</head>

<body>
<div id="container">

<header>
<h1 id="logo"><a href="/"><img src="{% static 'WineOpener/images/logo_wineopener.jpg' %}" alt="WineOpener"></a></h1>
<!--PC用（901px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="/WineOpener/readme">READ ME</a></li>
<li class="current"><a href="/WineOpener/live">Live配信一覧</a></li>
<li><a href="profile.html">PROFILE</a></li>
<li><a href="event.html">EVENT</a></li>
<li><a href="discography.html">DISCOGRAPHY</a></li>
<li><a href="contact.html">CONTACT</a></li>
</ul>
</nav>
<ul class="icon">
    {% if user.is_authenticated %}
	<li><a href="/WineOpener/mypage">マイページ</a></li>
    <li><a href="/accounts/logout">ログアウト</a></li>
	{% else %}
    <li><a href="/accounts/register">会員登録</a></li>
    <li><a href="/accounts/login">ログイン</a></li>
	{% endif %}
</ul>
</header>

<div id="contents">

<div id="main">

<section>
<h2>Live<span>Live配信1</span></h2>
<h3>【ワイン】スターワインの仕掛け人が選ぶヴィンテージワインコレクション</h3>
<dl class="news">
    <iframe src="https://twitcasting.tv/g:105881481929015164763/embeddedplayer/live?auto_play=false&default_mute=true" width="640px" height="605px" frameborder="0" allowfullscreen></iframe>
    <table class="ta1">
        <caption>販売中商品</caption>
        <tr>
            <th>Image</th> <th>Detail</th> <th>Stock</th> <th></th>
        </tr>
        
        {% for wine_information in wine_informations %}
        <tr>
            <th><img src="{% static '{{ wine_information.thumbnail }}' %}" width="100px" height="100px"  alt="wine_thumbnail"></th><!--画像の挿入が未実装…-->
            <th>{{ wine_information.name }}<br>・価格：￥{{ wine_information.price }}<br>・収穫年：{{ wine_information.harvest_year }}年<br>・生産者：{{ wine_information.producer }}<br>・産地：{{ wine_information.region }}<br>・タイプ：{{ wine_information.style }}<br>・品種：{{ wine_information.type }}</th>
            <th>{{ wine_information.stock }}</th>
            <th>
                <a href="{% url 'WineOpener:live_wine' livewine_id=wine_information.id %}">
                    購入ページ
                </a>
            </th>
        </tr>
        {% endfor %}
        
    </table>
    <div class="clear">
        <aside class="fl w25"><img src="{% static 'WineOpener/images/photo1.png' %}" alt=""></aside>
        
        <section class="fr w70">
        <h2>PROFILE<span>カスタニエ・クリストフ (Christophe CASTAGNE)</span></h2>
        <p>ラティテュード株式会社 (Latitude K.K)　代表取締役</p>
        <h3>社長挨拶　Latitude の願い</h3>
        <p>私、Christophe CASTAGNE（カスタニエ・クリストフ）は1970年にフランスで生まれました。<br>「新しい人生経験」を求め、幼少時代に母国フランスを発ち、<br>その後の18年間をアフリカで、<br>4年間をアメリカ、<br>8年間を日本、そして今私自身のブランドを立ち上げようと決心しました。</p>
        <p>1980年代後半からワインビジネスを確立するために来日するようになり、<br>それから約14年間の歳月の中でワインのフリーランス、スペシャリストとして経験を積み、<br>「日本の皆様」と「ワイン」の橋渡しに貢献できるよう取り組んで参りました。<br>時にはワインセミナーを開催したり、日本及び各国のワイン展示会への出店、<br>また店頭でのデモンストレーションも数多く経験させていただきました。<br>そのような体当たりの経験ができたからころ、日本のワイン市場を体で感じることができるようになったのだと思います。</p>
        </section>        
    </div>        
</dl>

</section>

</div>
<!--/#main-->

<div id="sub">

<h2>ARCHIVE</h2>
<ul class="submenu">
<li><a href="#">2021年</a></li>
<li><a href="#">2020年</a></li>
<li><a href="#">2019年</a></li>
<li><a href="#">2018年</a></li>
<li><a href="#">2017年</a></li>
<!--追加(2021/09/10)-->
<form>
    {% csrf_token %}
    <textarea id="comment" class="form-control" name="comment"></textarea>
    <input id="submit" type="button" value="送信">
</form>
<div id="comment_area">
    {% include 'WineOpener/comment.html' %}
</div>
</ul>

</div>
<!--/#sub-->

</div>
<!--/#contents-->

<footer>
<small>Copyright&copy; <a href="/">INDIES BAND</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--小さな端末用（900px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="readme.html">READ ME</a></li>
<li><a href="live_list.html">NEWS</a></li>
<li><a href="profile.html">PROFILE</a></li>
<li><a href="event.html">EVENT</a></li>
<li><a href="discography.html">DISCOGRAPHY</a></li>
<li><a href="contact.html">CONTACT</a></li>
</ul>
</nav>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　900px以下-->
<script>
if (OCwindowWidth() <= 900) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

<!--パララックス用ファイル読み込み
<script src="{% static 'WineOpener/js/jquery.inview.js' %}"></script>
<script src="{% static 'WineOpener/js/jquery.inview_set.js' %}"></script>-->

</body>
</html>