{% extends "base.html" %}
{% load staticfiles %}
{% block title %}STREETFOODとは{% endblock title %}
{% block content %}
{% load static %}



<!-- Page Content -->

<section style="margin-top: 10.0rem;>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/media/img/spring.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">STREETFOODとは</h2>
          <p>イベント時限定の屋台グルメ配達サイト</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/media/img/summer.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-3">
          <h2 class="display-4">四季折々のイベントをLive配信</h2>
          <p>Live配信とともに屋台グルメをおうちで楽しむ</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/media/img/autumn.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-3">
          <h2 class="display-4">配達までの時間を　リアルタイムで表示</h2>
          <p>※今回実装には至りませんでした</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}