{% extends "base.html" %}
{% load staticfiles %}
{% block title %}おうちでお祭り気分{% endblock title %}
{% block content %}
{% load static %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-9" style="margin-top: 4.0rem;">
            <h2>
                <center>Live配信中</center>
            </h2>

            <iframe width="1000" height="600" src="https://www.youtube.com/embed/Kau3zRXo8CM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <center>
                <script type="text/javascript">
                    var year = "2021";var month = "9";var day = "1";var hour = "0";var minute = "0";var centi = "5";
                    var convert = "0";var roop = "";
                    var cnt1 = "日";var cnt2 = "：";var cnt3 = "：";var cnt4 = ".";
                    var baseoffset = "none";var cuttime = "";
                    var br1 = "1";var br2 = "1";var br3 = "1";var br4 = "1";
                    var com1 = "イベント終了まで";var com2 = "と";var com3 = "です";var com4 = "適当にカウントアップ中";var end = "1";
                    var width = "400";var height = "150";
                    var font = "arial";var font2 = "7seg4";var size = "18";var t_size = "30";var l_height = "27";var t_height = "30";var bold = "";var italic = "";var line = "";
                    var space = "5px 0px 0px 0px";
                    var align = "2";var img = "";
                    var color1 = "4A29E6";var color2 = "30BFD5";var color3 = "FFFFFF";
                    </script>
                    <script type="text/javascript" src="//countdown.reportitle.com/js/neo1.js"></script><a href="//countdown.reportitle.com/">カウントダウンタイマー</a><script type="text/javascript" src="//countdown.reportitle.com/js/neo2.js"></script>
            </center>

            <h4>
                <center>おすすめ商品</center>
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                src="/media/img/image4.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../streetfood/food/A00004">たこ焼き</a>
                            </h4>
                            <h5>価格：500円</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                src="/media/img/image6.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../streetfood/food/A00006">焼きそば</a>
                            </h4>
                            <h5>価格：500円</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                src="/media/img/image12.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../streetfood/food/A00012">ラムネ</a>
                            </h4>
                            <h5>価格：300円</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                src="/media/img/image8.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../streetfood/food/A00008">焼きとうもろこし</a>
                            </h4>
                            <h5>価格：500円</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                src="/media/img/image5.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../streetfood/food/A00005">チョコバナナ</a>
                            </h4>
                            <h5>価格：300円</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top"
                                src="/media/img/image13.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="../streetfood/food/A00013">生ビール</a>
                            </h4>
                            <h5>価格：300円</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% endblock content %}